<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrdersMvcApp_Java225</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Информация о клиенте</h1>
    <table class="table table-bordered">
        <thead class="table table-info">
            <tr>
                <td>Имя</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td>[[${client.name}]]</td>
                <td>[[${client.email}]]</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Все закзы клиента: </h3>
        <table class="table table-bordered">
            <thead class="table table-info">
                <tr>
                    <th>Описание заказа</th>
                    <th>Товары</th>
                    <th>Артикул</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr th:each="order: ${orders}">
                    <td>[[${order.order.description}]]</td>
                    <td>[[${order.product.name}]]</td>
                    <td>[[${order.product.article}]]</td>
                    <td>[[${order.product.price}]]</td>
                    <td>[[${order.count}]]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>
        <a th:href="@{/client}" class="btn btn-success">Назад к клиентам</a>
    </h4>
</div>
</body>
</html>
