<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrdersMvcApp_Java225</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Пример реализации приложения в MVC</h1>
    <p><a th:href="@{/client}">Управление клиентами</a></p>
    <p><a th:href="@{/order}">Управление заказами</a></p>
    <p><a th:href="@{/product}">Управление товарами</a></p>
    <h4>Автор Врублевская А.В. &copy;</h4>
</div>
</body>
</html>

